<main role="main" class="container">
  <div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
  <h1>Wordcount App</h1>
  <p class="lead">
    A word count app to know the leaderboard of words in a webpage  
  </p>
  <div class="container">
    <div class="row" *ngIf="show">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row" *ngIf="show">
      <div class="col-md-4">
        <div> 
          <p>Results:</p>
            <ul>
              <li *ngFor="let result of results">
                {{ result }}
              </li>
            </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="row" [formGroup]="urlForm" (ngSubmit)="onSubmit()">
          <div class="col-md-12">
            <div class="form-group">
              <input class="form-control" type="text" formControlName="url" placeholder="Search...">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!urlForm.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</main> 

<router-outlet></router-outlet>