<main role="main" class="container">
  <div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
  <h1>Wordcount App</h1>
  <p class="lead">
    A word count app to know the leaderboard of words in a webpage  
  </p>
  <div class="container">
    <div class="row" *ngIf="show">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row" *ngIf="show">
      <div class="col-md-4">
        <table class="table table-striped"> 
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Word</th>
              <th scope="col">Repetitions </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of results; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result[0] }}</td>
              <td>{{ result[1] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-8">
        <div> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="row" [formGroup]="urlForm" (ngSubmit)="onSubmit()">
          <div class="col-md-12">
            <div class="form-group">
              <input class="form-control" type="text" formControlName="url" placeholder="Enter a valid url...">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!urlForm.valid">Go!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</main> 

<router-outlet></router-outlet>